* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

#button-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

#button-box > *:only-child {
  grid-column: span 2;
}

#button-box > *:nth-child(odd):last-child {
  grid-column: span 2;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20vh;
}

h1 {
  font-size: 2rem;
  margin-top: 2vh;
}

#token {
  font-family: monospace;
}

#description,
#your-token,
#countdown {
  user-select: none;
}

.button {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 30px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.button-description {
  font-size: 1rem;
}

.button:hover {
  background-color: #313131;
}

.censored {
  background-color: #212121;
  color: #212121;
  border-radius: 10px;
  cursor: pointer;
  font-family: monospace;
  user-select: none;
}

p {
  margin: 3rem;
  text-align: center;
}
